@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');

body {
	background-color: #2a2a2a;
	/* margin: 2rem; */
}

* {
	color: #FFF;
	margin: 0.25em;
	font-family: "M PLUS 1p", sans-serif;
	font-weight: 500;
	font-style: normal;
	box-sizing: border-box;
}

.text-blend {
	mix-blend-mode: exclusion;
}

ul {
	padding-left: 1.5em;
	line-height: 2em;
}

.btn,
button,textarea {
	font-size: 1rem;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	border: none;
	outline: none;
	border-radius: 0.25em;
	background-color: rgba(255, 255, 255, 0.1);
	padding-inline: 1em;
	padding-block: .5em;
	cursor: pointer;
	transition: background-color 0.25s ease, color 0.25s ease;
}

/* :is(.btn, button):hover {
	background-color: rgb(0, 0, 0);
} */

:is(.btn, button):hover {
	background-color: rgba(255, 255, 255, 1);
	color: #000;
}